@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff8f3;
}

h1 {
  text-align: center;
}
html{
  scroll-behavior: smooth;
}